<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>MENSAJES</title>
  <link rel="stylesheet" href="../static/CSS/mensajes.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/JS/mensajes.js" defer></script>
</head>

<body>
  <button class="show-modal">CUENTANOS LO QUE GUSTES:</button>
  <div class="bottom-sheet">
    <div class="sheet-overlay"></div>
    <div class="content">
      <div class="header">
        <div class="drag-icon"><span></span></div>
      </div>
      <div class="body">
        <h2>WORKBOT GROUP</h2>
        <div class="input-section">
          <textarea id="messageInput" placeholder="Comparte tu conocimiento Aquí por favor"></textarea>
          <button id="addMessageBtn">Agrega tu Mensaje</button>
        </div>
        <div class="messages">
          
        </div>
      </div>
    </div>
  </div>
</body>

</html>

