<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HERMES</title>
    <link rel="stylesheet" href="../static/css/portada.css">
    <script src="../static/js/portada.js" defer></script>
    <style>
        .white-text {
            color: white;
            font-size: 18px;
        }
        .main-article__header,
        .main-article__paragraph {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">Bienvenidos a</div>
                        <div class="layers__title">HERMES</div>
                    </div>
                    <div class="layer layers__base"></div>
                    <div class="layer layers__middle"></div>
                    <div class="layer layers__front"></div>
                </div>
            </header>
            <article class="main-article">
                <div class="main-article__content">
                    <h2 class="main-article__header">WORKBOT GROUP</h2>
                    <p class="main-article__paragraph white-text">Nos alegra que estés aquí. Hermes es una comunidad alegre y apasionada, lista para compartir y celebrar cosas que te gustan, tenemos un lugar para vos.</p>
                    <div class="copy">derechos reservados <a href="https://63eea939473e6.site123.me/" target="_blank" rel="noopener noreferrer">GITHUB WORKBOT</a></div>
                </div>
            </article>
        </div>
    </div>
    <button class="btn">Inicia Sesión</button>
</body>
</html>

